.container {
    background: black;
    padding: 20px;
}
.nav {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    ul {
        display: flex;
        gap: 0 30px;
        align-items: center;

        li {
            font-weight: 700;
            color: white;
            font-size: 18px;
            text-transform: uppercase;
        }
    }
}

.active {
    color: green;
}
